body {
    font-family: 'Oswald', sans-serif !important;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 2em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2em;
    
}

.page {
    position: absolute;
    visibility: hidden;
}

.currentPage {
    visibility: visible;
}

.google-visualization-table-table {
    font-size: 1.2em !important;
    font-family: 'Oswald', sans-serif !important;
}

.leftside {
    width: 1000px;
    float: left;
    
}

.rightside {
    margin-left: 1100px;
}

.clear {
    clear: both;
}

.callout {
    font-size: 3em;
    margin-top: 0px;
}