html {
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif !important;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 2em;
    height: 100%;
}

.productionschedule {
    background: url(ComptonSchedule.jpg) no-repeat center center fixed;
    background-size: contain;
    height: 1080px;
    width: 1920px;
    margin-left: -100px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2em;
    
}

.page {
    position: absolute;
    visibility: hidden;
}

.currentPage {
    visibility: visible;
}

.google-visualization-table-table {
    font-size: 1.2em !important;
    font-family: 'Oswald', sans-serif !important;
}

.leftside {
    width: 1000px;
    float: left;
    
}

.rightside {
    margin-left: 1100px;
}

.clear {
    clear: both;
}

.callout {
    font-size: 3em;
    margin-top: 0px;
}

#watermark
{
 position:fixed;
 top: 50px; 
 right:100px;
 z-index:99; 
}

text {
    font-size: 16;
}

.asof {
    font-size: 1em;
}

.noHeader { background-color: #FFF; border-collapse: collapse; border:none; font-size: 0px; }

